.env
*.env
*.log
*.sqlite3
.DS_Store
*.pyc
__pycache__/
*.pyo
*.swp


client/node_modules/
client/.env
client/.vite
client/dist/
client/build/
client/.parcel-cache
client/.turbo
client/yarn.lock
client/pnpm-lock.yaml
client/.eslintcache
client/.next/
client/.cache/


backend/__pycache__/
backend/db.sqlite3
backend/*.pyc
backend/media/
backend/staticfiles/
backend/.env
backend/env/
backend/env
backend/**/migrations/*.pyc
backend/**/migrations/*.pyo
backend/**/migrations/__pycache__/
backend/**/migrations/*.sqlite3

mysql_data/
db_data/

*.pid
*.seed
*.pid.lock
*.pidfile
docker-compose.override.yml
.vscode/
*.bak


.idea/
.vscode/
*.iml
Thumbs.db
ehthumbs.db
